@model List<Crab>

<h1>Here are our Crabs</h1>
<table class="table table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>Weapon</th>
            <th>Space Craft</th>
            <th>Age</th>
            <th>Take A Trip</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.Weapon</td>
                <td>@c.SpaceCraft</td>
                <td>@c.Age()</td>
                <td>
                    <form action="/trip" class="form-inline" method="Post">
                        <input type="hidden" name="crabId" value="@c.CrabId">
                            <select class="form-control" name="planetId" >
                                @foreach( var p in ViewBag.Planets)
                                {
                                    if(c.MyTrips.All(t => t.PlanetId != p.PlanetId))
                                    {
                                        <option value="@p.PlanetId" >@p.Name</option>
                                    }
                                }
                            </select>
                            <input type="submit" value="Blast Off" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>