@model List<Planet>
<h1>These are the Planets</h1>
<table class="table table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th>System</th>
            <th>Galaxy</th>
            <th># of Inhabitants</th>
            <th># of Tourists</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td><a href="/planet/@p.PlanetId">@p.Name</a></td>
                <td>@p.System</td>
                <td>@p.Galaxy</td>
                <td>@p.Inhabitants.Count</td>
                <td>@p.Tourists.Count</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>



<div class="row">
@foreach(var p in Model)
{
    <div class="col-5 bg-info rounded shadow-lg p-3">
        <h2 class="text-center">@p.Name Visitor List</h2>
        <table class="table table-warning ">
            <thead class="bg-dark text-warning">
                <tr>
                    <th>Name</th>
                    <th>Weapon</th>
                    <th>Space Craft</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach( var t in p.Tourists)
                {
                    <tr>
                        <td>@t.Tourist.Name</td>
                        <td>@t.Tourist.Weapon</td>
                        <td>@t.Tourist.SpaceCraft</td>
                        <td>@t.Tourist.Age()</td>
                        <td><a href="/cancel/trip/@p.PlanetId/@t.Tourist.CrabId">Swipe Left</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

</div>